html, body, div, p, svg, footer, header {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}
header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    position: fixed;
}
.icons {
    height:35px;
    width: 35px;
    outline: none;
    
}
#logo {
    margin-left: 2rem;
    font-weight: 600;
    font-size: 2.5rem;
    color: orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    font-family: 'Sofia', cursive;
}

.logoicon {
    height: 50px;
    width: 50px;
    fill: skyblue;
    margin-right: 1.5rem;
}

 #društvenemreže a svg {
    cursor: pointer;
    fill: orangered;


}

#atf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

img {
    height: 250px;
    width: 250px;
    border: 1px solid white;
    border-radius: 80%;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

#img2 {
    height: 220px;
    width: 220px;
}

#pp2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Chilanka', cursive;
    font-weight: 1000;
    font-size: 1.1rem;

}

h1 {
    font-size: 2.1rem;
    color: black;
    font-weight: 1000;
    margin-top: -5rem; 	
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
        0px -4px 10px rgba(255,255,255,0.3);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    font-family: 'Chilanka', cursive;
    margin-bottom: 3rem;
    margin-top: -10rem;
    color: orangered;
    text-shadow: 16px 22px 11px rgba(0, 0, 0, 0.8);
}

footer {
    display: flex;
    
}

footer div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.divhrana {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hranaimg {
    border-radius: 30%;
    border: 1px solid whitesmoke;
    height: 180px;
    width: 180px;
    border: 4px ridge orangered;
}

.divhrana p {
    font-size: 1.5rem;
    font-family: 'Sofia', cursive;
}

.kraj {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.kolona1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   margin-top: 10rem;
}

.kolona1 p {
    font-size: 1.2rem;
    font-family: 'Chilanka', cursive;
    font-weight: 600; 
    margin-top: -1.5rem;
}

h3 {
    font-size: 2.3rem;
    color: orangered;
    font-family: 'Chilanka', cursive;
    margin-bottom: 1rem;
    margin-top: -6rem;
    margin-left: -7rem;
    margin-right: 3rem;
    text-shadow: 16px 22px 11px rgba(0, 0, 0, 0.8);
}


.icons2 {
    fill: royalblue;
    width: 50px;
    height: 50px;

}

.kolona12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

#kolona2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
}
