h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    font-variant: small-caps;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1rem;
    color: red;
    text-align: center;
    text-shadow: blue 5px 0 2px;
    text-decoration: line-through yellow;
    text-indent: 1rem;


}