.gradient {
    background-image: linear-gradient(hotpink, green, deepskyblue);
}
.icon  {
    font-size: 3.2rem;
    padding-right: 1rem;
;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    border: 3px solid black;
   font-size: 3rem;
   color: white;
   vertical-align: bottom;
   
}