html, body, div, button {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 2vw;
    color: skyblue;
}

#atf {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

button {
    color: teal;
    background-color: white;
    border: 1px solid skyblue;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    box-shadow: 0 2px 1px red, 0 2px 3px tomato, 0 4px 8px orangered;
    cursor: pointer;
    outline: none;
}
.icon {
    fill: currentColor;
font-size: 10rem;
}