#names {
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    color: red;
}
body {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}