html {
    background-color: blue;
}



body {
    
    width: 60%;
    background-color: green;
    margin: 0 auto;
    border: 5px solid black;

}

img {
    border: yellow ridge 10px;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    height: 150px;
    width: 200px;

}

header {
    font-size: larger;
    font-style: italic;
}


#primary {
    color: blue
}
#secondary {
    color: red;
}