html {
    font-family: 'Cantarell', sans-serif;
    color: whitesmoke;
}



#idx-atf {
    height: 100vh;
    /* border: 10px solid hotpink; */
    display: flex;
    justify-content: center;
    /* flex-flow: row nowrap; */
align-items: center;
background-color: grey;
background-image: url(00nyvirus-streets001-mediumSquareAt3X.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: center;
background-origin: border-box;
background-attachment: fixed;
}

.idx-center  {
    /* border: 10px solid hotpink; */
    display: flex;
    justify-content: space-between;
    /* flex-flow: row nowrap; */
align-items: center;
flex-flow: column nowrap;


}

button {
    background-color: transparent;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}
h2 {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}
h3 {
    font-size:1.4rem ;
    font-weight: normal;
    text-align: center;
    margin-top: 1.576rem;
}

button {
    font-size:1.4rem ;
    font-weight: 700;
    border: 3px solid whitesmoke;
    border-radius: 5%;
    padding: 3px;
    

    
}

#idx-atf>div {
    height: 90vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 2.8rem;
    width: 100%;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    justify-content: space-between;
    align-items: center;
}
  header div, header nav{
      height: 20%;
      width: 150px;
      background-color: red;
      margin: 0 1rem;
  }

 