header, article, aside, footer {
    text-align: center;
    padding: 10px;
}
header {
    background-color: blue;

}

article {
    background-color: yellow;
    text-align: left;
}

aside:nth-child(3){
    background-color: violet;
}
aside:nth-child(4) {
    background-color: red;
}

footer {
    background-color: green;
}